<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FaceMe</title>
		<link rel="stylesheet" href="/css/home.css" />
		<script src="https://kit.fontawesome.com/c939d0e917.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="inner-header">
				<p class="username"><%= userName%></p>
				<h1>Welcome to Face Me</h1>
				<h2>Meet, Chat, Call, and collaborate in just one place</h2>
				<div class="flex" style="justify-content: space-around; margin: 0 18vw 0 25vw">
					<div style="display: flex; flex-direction: column">
						<a class="a-tag" href="/">Create new Video Room</a>
						<a class="a-tag" href="/notes">Start Collaborative Notepad</a>
						<a class="a-tag" href="/home/notes/history">Show Notepad History</a>
						<a class="a-tag" href="/home/chats"> Open Chats</a>
					</div>
					<img src="/assets/call.png" />
				</div>
			</div>
		</div>
		<h1>Features</h1>
		<br />
		<br />
		<div class="slider-container">
			<div class="container">
				<div class="slider">
					<div class="box1 box">
						<div class="bg"></div>
						<div class="details">
							<h1>Video Call</h1>
							<p>
								Instantly go from group chat to video conference with the touch of a button. Teams of two or 10+
								can meet in one place from anywhere.
							</p>
							<button><a href="/">Click Here</a></button>
						</div>

						<div class="z">
							<img src="/assets/video.png" />
						</div>
					</div>

					<div class="box2 box">
						<div class="bg"></div>
						<div class="details">
							<h1>Chat</h1>
							<p>
								Share your opinion and have fun with your team. Send messages in a group chat or in one-to-one
								messages using keyboard or voice.
							</p>
							<button><a href="/home/chats">Click Here</a></button>
						</div>

						<div class="illustration"><img src="/assets/chat.png" /></div>
					</div>

					<div class="box3 box">
						<div class="bg"></div>
						<div class="details">
							<h1>Collaborate</h1>
							<p>Easily find, share and edit file in real time using our collaborative notepad.</p>
							<button><a href="/notes">Click Here</a></button>
						</div>

						<div class="illustration">
							<img src="/assets/draw.png" />
						</div>
					</div>

					<div class="box4 box">
						<div class="bg"></div>
						<div class="details">
							<h1>Notepad History</h1>
							<p>
								Easily Track all the Notepad you have previously Accessed. You can also see other's notepad as
								well
							</p>
							<button><a href="/home/notes/history">Click Here</a></button>
						</div>

						<div class="illustration"><img src="/assets/history.png" /></div>
					</div>

					<div class="box5 box">
						<div class="bg"></div>
						<div class="details">
							<h1>Various Other Features</h1>
							<p>Many more features which you will realize as you go along using this website.</p>
						</div>

						<div class="illustration"><img src="/assets/fifth.png" /></div>
					</div>
				</div>

				<svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91">
					<path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91">
					<path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff" />
				</svg>
				<div class="trail">
					<div class="box1 active">1</div>
					<div class="box2">2</div>
					<div class="box3">3</div>
					<div class="box4">4</div>
					<div class="box5">5</div>
				</div>
			</div>
		</div>

		<div class="wave-footer">
			<svg
				class="waves"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				viewBox="0 24 150 28"
				preserveAspectRatio="none"
				shape-rendering="auto"
			>
				<defs>
					<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
				</defs>
				<g class="parallax">
					<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(105,0,255,0.2)" />
					<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(105,0,255,0.2)" />
					<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(105,0,255,0.2)" />
					<use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(105,0,255,0.2)" />
				</g>
			</svg>
		</div>
	</body>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CSSRulePlugin3.min.js"></script>

	<script src="/js/home.js"></script>
</html>
