<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/drawing.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<title>Notes</title>
		<script>
			const ROOM_ID = "<%= roomId %>";
		</script>
	</head>
	<body>
		<div class="fluid">
			<div class="title">
				<h1>Collaborative Notepad</h1>
				<br />
				<h2>
					You can share the url with other people and can start work on a Collaborative Notepad with notes and
					whiteboard
				</h2>
			</div>
			<div class="col-md-6">
				<div class="well video-space" id="video-space">
					<p>Write your notes here</p>
					<textarea id="notes_textarea"> </textarea>
				</div>
			</div>
			<div class="col-md-6" id="canvas-parent">
				<div class="white-board">
					<p>White board</p>
					<div>
						<button class="btn btn-primary" id="clear_button">Clear</button>
						<a class="btn btn-primary" id="download_image">Download Image</a><br /><br />
					</div>
				</div>
				<div class="well drawing-space" id="drawing-space">
					<canvas id="drawing"></canvas>
				</div>
			</div>
		</div>
		<script src="/js/notes.js"></script>
	</body>
</html>
